/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
    width: 100%;
}

.btn {
    padding: 12px;
    border-radius: 20px;
}

p {
    line-height: 27px;
    font-size: 17px;
}

/* HEADER TOP*/

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #255ee9;
    height: 70px;
}

.header-top ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    padding: 0 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

.login {
    padding: 5px;
}

nav {
    width: 40%;
    color: white;
}

.logo {
    width: 15%;
}

.login {
    width: 15%;
    display: flex;
    justify-content: flex-end;
}

.logo img {
    width: 50%;
}

.login .btn {
    background-color: white;
    font-size: 15px;
}

/* HEADER BOTTOM */

.header-bottom {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-position: center;
}

.bottom-box {
    width: 700px;
    height: 300px;
    color: white;
    text-align: center;
}

.bottom-box > h1 {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 40px;
}

.bottom-box > p {
    padding-bottom: 25px;
}

.download-left {
    background-color: white;
    color: black;
    margin-right: 20px;
}

.bottom-box i {
    padding-right: 5px;
}

.download-right {
    background-color: #23272a;
}

/* MAIN */

section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-box1 {
    width: 550px;
    height: 350px;
    background-size: cover;
}

.start .section-box1{
    background-image: url('../img/item1.svg');
}

.middle .section-box1{
    background-image: url('../img/item2.svg');
}

.third .section-box1 {
    background-image: url('../img/item3.svg');
}

.section-box2 {
    width: 300px;
    height: 350px;
}

h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.middle {
    background-color: #f6f6f6;
}

.last-section {
    height: 1100px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-box {
    height: 700px;
    width: 850px;
    text-align: center;
   
}

.big-box > h2 {
    padding-top: 30px;
}

h3 {
    font-size: 27px;
    padding-top: 30px;
}

.big-description {
    background-image: url('../img/stars.svg');
    background-position: top;
    margin-bottom: 50px;

}

.big-box a {
    color: white;
    background-color: #7289da;
}

.big-box i {
    padding-right: 5px;
}

/* FOOTER TOP*/

.footer-top {
    height: 400px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-left {
    height: 370px;
    width: 283px;
    color: white;
}

.col-left h3 {
    color: #7289da;
    margin-top: 30px;
    padding-bottom: 15px;
}

.flag {
    width: 25px;
    height: 15px;
}

.language {
    display: inline;
}

.brands {
    margin-top: 15px;
}

.brands > i {
    padding: 0 5px;
} 

.col-right {
    height: 370px;
    width: 140px;
    color: white;
    margin-top: 90px;
}

.col-right ul {
    list-style-type: none;
}

.col-right li {
    padding: 10px 0;
}

li:first-child {
    color: #7289da;
}



/* FOOTER BOTTOM*/

.footer-bottom {
    height: 70px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-box {
    width: 850px;
    height: 55px;
    background-color:  #00ffcc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo2, .button {
    height: 30px;
    width: 60px;
    background-color: #ffb3b3;
    border: 2px dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}